@use '../mixins' as *;
@use '../variables' as *;


.contact-title .icon-envelope {
  margin-right: 10px;
  font-size: 1.5rem;
}

.contact-sub-title {
text-align: center;
  margin-bottom: 40px;
}

.cta-info, .contact-form {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.cta-info{
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
}
.cta-title {
  color: $white;
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-description {
  color: $white;
  font-size: 1rem;
  margin: 20px 0;
}

.next-step-title {
  color: $white;
  font-size: 1.2rem;
  font-weight: bold;
}

.cta-list {
  color: $white;
  list-style: none;
  padding-left: 0;
}

.cta-list li {
  font-size: 1rem;
  margin: 8px 0;
}

.contact-form {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
}

.form-fields .form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
}

.form-submit {
  text-align: center;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button i {
  margin-left: 10px;
}

@media screen and (min-width:601px) {
  .contact-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
}