@use '../mixins' as *;
@use '../variables' as *;

/*************** SKILLS ***************/

section#about img {
  display: flex;
  margin: 2rem auto;
}

.skills-content{
  flex-wrap: wrap;
  @include flex(center,2rem)
}
.skill-card .card-animation{
  padding: 20px 0;
}

.skills-grid {
    @include grid-columns(1);
  }
  
  .skill-card {
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 340px;
  }
  
  .skill-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
    height: 60px;
    overflow: hidden;
  }
  
  .skill-card p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.6;
  }

    /* ===============================
       PROJET
    ================================== */
    
  .myProject-content {
    @include flex(center, 2rem);
    flex-direction: column;
    align-items: center;
  }
    
    /* ===============================
       1. Left Section ==> Buttons
    ================================== */
    #project .left-section {
      flex-direction: column;
      @include flex(flex-start,16px);
      
      button {
        color: $white;
        background-color: rgba(36, 37, 46, 0.5);
        width: 150px;
        padding: 0.75rem;
        text-align: center;
        font-size: 1.05rem;
        text-transform: capitalize;
        opacity: 0.7;
        border-radius: 5px;
        transition: 0.3s;
  
      &:hover {
        opacity: 1;
      }
      
      &.active {
        opacity: 1;
        font-weight: bold;
        letter-spacing: 0.6px;
        padding: 0.8rem 0;
        color: $white;
        border: 1px solid var(--subtitle);
      }
      }
    }
       
    /* ===============================
       2. Right Section ==> Card
    ================================== */
    
    #project .right-section {
      @include grid-columns(1); 
    }
    #project .container{
      max-width: 1200px;
    }
    .card {
      position: relative;
      border: 1px solid rgba(93, 188, 252, 0.3);
      border-radius: 5px;
      transition: 0.3s;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      );
      max-height: 220px;
      cursor: pointer;
      transition: 0.3s all ease;
      overflow: hidden;
      
      &:hover {
        border: 1px solid var(--secondary);
        rotate: 1deg;
        scale: 1.01;
      }
    
      img {
        height: 100%;
        object-fit: cover;
      }
      &:hover img{
        transform: scale(1.1);
        transition-duration: .5s;
        transition-property: all;
      }
    &:hover .box{
      opacity: 1;
      visibility: visible;
    }
    &:hover h3{
     color: $white;
    }
      .box {
        position: absolute;
        padding: 1rem;
        top: 0;
        left: 0;
        background-color: rgba(153, 38, 240, 0.75);
        width: 100%;
        height: 100%;
        opacity: 0;
        color: $white;
        visibility: hidden;
    
        .sub-title {
          color: $white;
        }
    
        .icons {
          justify-content: space-between;
        }
      }
    
      .icon-github,
      .icon-link {
        font-size: 1.2rem;
        color: var(--subtitle);
        
        &:hover {
          font-size: 1.25rem;
          color: var(--primary);
          cursor: pointer;
        }
      }
    
      a.link {
        font-size: 0.9rem;
        color: $white;
        margin-right: 12px;
      }
    }
    

/**************** SERVICES *******************/
.services-grid {
  @include grid-columns(1);
}
  .service-card {
    text-align: center;
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 293px;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .service-card i {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007bff;
  }
  
  .service-card h4 {
    font-size: 1.2rem;
    margin: 0.5rem auto;
    line-height: 28px;
    color: #333;
  }
  
  .service-card p {
    font-size: 0.9rem;
    color: #555;
  }

  @media (min-width: 992px) {
    .myProject-content {
      @include flex(space-between,2rem);
      align-items: flex-start;
      flex-direction: row;
      }
  }
  
  @media (max-width: 991px) {
    #project .left-section {
      flex-direction: row;
      flex-wrap: wrap;
      @include flex(center, 10px);
  
      button {
        width: max-content;
        font-size: 0.9rem;
      }
    }
  }