@use './variables' as *;

// Mixins
@mixin heading-styles($font-size, $line-height, $text-align: left) {
  font-family: $heading-font;
  margin-bottom: 1rem;
  color: var(--subtitle);
  font-weight: 600;
  font-size: $font-size;
  line-height: $line-height;
  text-align: $text-align;

  @media (max-width: 768px) {
    font-size: $font-size * 0.85;
    line-height: $line-height * 0.85;
  }

  @media (max-width: 480px) {
    font-size: $font-size * 0.7;
    line-height: $line-height * 0.7;
  }
}

@mixin flex($justify-content: flex-start, $gap: 0) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
    gap: $gap;
  }

  @mixin grid-columns($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 1rem;
  
    @media (max-width: 320px) {
      grid-template-columns: repeat(1, 1fr); 
    }
  
    @media (min-width: 540px) {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr); 
    }
  
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr); 
  }
}
  